@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

/* LANDING */
.landing{
	height: 100vh;
	width: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
	background: url(../img/landing.gif);
	background-position: center;
	font-family: 'Bebas Neue', cursive;


}

.landing h1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	font-size: 5rem;
}

.landing h1 span{
	color: #66fcf1;
}

/* NAV BAR */
nav{
	background: #1f2833;
	border-bottom: 5px solid #66fcf1;
}

nav ul li a{
	color: white !important;
	font-family: 'Bebas Neue', cursive;
	font-size: 1.5rem;
}

nav ul li a.active{
	color: #cb2d6f !important;
}


nav ul li a:hover{
	color: #cb2d6f !important;
}

.navbar-brand{
	font-family: 'Bebas Neue', cursive;
	font-size: 1.5rem !important;
	margin: auto;
	color: #cb2d6f !important;
}

.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
}

/* ABOUT */
#about div h2{
	font-family: 'Bebas Neue', cursive;
	font-size: 5rem;
}

#about div h3{
	font-family: 'Bebas Neue', cursive;
	font-size: 3rem;

}

#about div div h5{
	font-family: 'Bebas Neue', cursive;
	font-size: 1.7rem;
}

#about div div p{
	margin-bottom: 0px !important;
	font-style: italic;

}

#about div div p b{
	text-transform: uppercase;
	
}
.about-color{
	color: #cb2d6f;
}


hr.hrabout{
	border-top: 4px solid black;
	width: 20%;
}

.row img{
	border-radius: 15px 100px;
	border: 8px solid #1f2833;
	height: 40vh;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.img-center{
	position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.hover-color{
	color: #cb2d6f;
}

/* SKILLS */

#skills{
	background: #1f2833;
	color: white;
}

#skills div h2{
	font-family: 'Bebas Neue', cursive;
	font-size: 5rem;
}

hr.hrskills{
	border-top: 4px solid white;
	width: 15%;
}

/* PROJECTS */
#projects div h2{
	font-family: 'Bebas Neue', cursive;
	font-size: 5rem;
}

#projects div h3{
	font-family: 'Bebas Neue', cursive;
	font-size: 2.5rem;
	color: white;
	background: black;

}

.text-wrap{
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text-wrap p{
	background: black;
}

.project1{
	background: url(../img/ale-house.png);
	border: 1px solid black;
	background-position: center;
	height: 30vh;
	background-size: 400px;
	background-position: center;
}

.project1:hover{
	background-size: 600px;

}

.project2{
	background: url(../img/bsf.png);
	background-position: center;
	height: 30vh;
	background-size: 400px;
	background-position: center;
}

.project2:hover{
	background-size: 600px;

}

.project3{
	background: url(../img/wabi-sabi.png);
	border: 1px solid black;
	background-position: center;
	height: 30vh;
	background-size: 400px;
	background-position: center;
}

.project3:hover{
	background-size: 600px;

}

.div-link{ 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}
/* CONTACT */

#contact{
	background: #131518;
}

hr.hrcontact{
	border-top: 5px solid white;
	width: 20%;
}

.linkedin{
	color: white !important;
}

.linkedin:hover{
	color: #cb2d6f !important;
}

#contact div h2{
	font-family: 'Bebas Neue', cursive;
	font-size: 5rem;
	color: white;
}

#contact div p{
	color: white;

}

button{
	color: white !important;
	border: 1px solid white !important;
}

.form-group div button:hover{
	background: #cb2d6f;
}

/* FOOTER */
footer{
	background: red;
	background: /*#131518;*/ #232429;
}

hr.hrfooter{
	width: 90%;
	border-top: 1px solid white;
}

footer h5{
	color: white;
	font-family: 'Bebas Neue', cursive;
}

/* Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 577px) { 
	.landing h1 {
		font-size: 3.5rem!important;
	}	
 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 769px) { 
	.navbar-brand{
		margin-left: 10px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 993px) { 
	.md-padding{
		padding-bottom: 2rem;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1201px) { 
	.lg-padding{
		padding-bottom: 2rem;
	}

	.img-center{
		position: relative;
	}

	div h3, p, h5 {
		text-align: center;
	}
}