@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
html, body {
	overflow-x: hidden;
}

@font-face{font-family: "roboto"; src: url(../fonts/Roboto-Medium.ttf);}

p{
	font-family: "roboto";
}

/* Throughout CSS */
.center-stuff{
	text-align: center;
	margin: auto;
}

.center-img{
	margin: auto;
	display: block;
}

.pb{
	padding-bottom: 2rem;
}

h1{
	font-family: 'Bebas Neue', cursive;
}

body{
	overflow-x: hidden;
}

/* Nav CSS */
.logo{
	width: 4rem;
}

li a {
	text-transform: uppercase;
	color: #fff;
}

li a:hover {
	color: #ff0;
}

nav{
	font-family: 'Bebas Neue', cursive;
	font-size: 1.5rem;
}

.nav-bg{
	background-color: rgba(52, 52, 52, 0.9);
	border-radius: 25px; 
	padding-right: 2rem;
}

.nav-pad-left{
	padding-left: 2rem;
}
/* Nav CSS */
.navbar-toggler{
	background-color: rgba(52, 52, 52, 0.9)!important;
}

/* Landing CSS*/

.landing{
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/ale-house.jpg');
		height: 100vh;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

.landing-content{
	position: relative;
	top: 25%;
	text-align: center;
}

.landing-img{
	width: 20rem;

}

.landing-content h1{
	font-family: 'Bebas Neue', cursive;
	font-size: 5rem;
	text-shadow: 2.5px 2.5px #000;
	border-radius: 25px;
	color: white;
}

/*.carousel-item img{
	width: 100%;
	height: 100%
}

.carousel-caption{
	position: absolute;
	top: 40%;
	}

.carousel-caption h1{
	font-family: 'Bebas Neue', cursive;
	font-size: 5rem;
	text-shadow: 2.5px 2.5px #000;
	margin: 0 20rem 0 20rem;
	border-radius: 25px;
}

.carousel-caption h4{
	font-family: 'Bebas Neue', cursive;
	padding: -1rem 0 1rem 0;	
	margin: 0 20rem 0 20rem;
	text-shadow: 2px 2px #000;
}

.carousel-item img{
	opacity: .8;
}*/

/* Ales CSS */

.jumbotron{
	background: #fff!important;
}

.jumbotron div h1{
	font-family: 'Bebas Neue', cursive;
	font-size: 6rem;
}

.jumbotron div h2{
	font-family: 'Bebas Neue', cursive;
}

.jumbotron div h5{
	font-family: 'Shadows Into Light', cursive;
	font-size: 2rem;
}

.img-size{
	width: 360px;
	height: 360px;
}

/* Amenities CSS */
.card-body{
	padding: 100px!important;
}

#music-info, #food-info, #games-info, #wifi-info, #comedy-info, #parking-info {
	display: none;
}

#amenities{
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/craft-bar.jpg');
	color: white;
}

#amenities h1{
	font-family: 'Bebas Neue', cursive;
	font-size: 5rem;
}

#amenities h2{
	font-family: 'Bebas Neue', cursive;
	}

#amenities hr{
	border-top: 2px white solid;
	width: 20%;
}

.card{
	background:	rgb(12, 12, 12)!important;
	color: white!important;
	border: 2px solid white!important;
}

.card-footer{
	color: white!important;
}

.live-music{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/live-music.jpg');
	background-size: 100%;
	border-bottom: 1px solid white;
	background-position: center;
}

.live-music:hover{
	background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url('../images/live-music.jpg');
	background-size: 100%;
	background-position: center;
}

.food-menu{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/food.jpg');
	background-size: 100%;
	border-bottom: 1px solid white;
	background-position: center;
}

.food-menu:hover{
	background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url('../images/food.jpg');
	background-size: 100%;
	background-position: center;
}

.retro-games{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/games.jpg');
	background-size: 100%;
	border-bottom: 1px solid white;
	background-position: center;
}

.retro-games:hover{
	background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url('../images/games.jpg');
	background-size: 100%;
	background-position: center;
}

.wifi{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/wifi.jpg');
	background-size: 100%;
	border-bottom: 1px solid white;
	background-position: center;
}

.wifi:hover{
	background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url('../images/wifi.jpg');
	background-size: 100%;
	background-position: center;
}

.comedy{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/comedy.jpg');
	background-size: 100%;
	border-bottom: 1px solid white;
	background-position: center;
}

.comedy:hover{
	background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url('../images/comedy.jpg');
	background-size: 100%;
	background-position: center;
}

.parking{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/parking.jpg');
	background-size: 100%;
	border-bottom: 1px solid white;
	background-position: center;
}

.parking:hover{
	background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url('../images/parking.jpg');
	background-size: 100%;
	background-position: center;
}

/* Opening Hours CSS */
#opening-hours h1{
	font-family: 'Bebas Neue', cursive;
	font-size: 5rem;
}

table {
	table-layout: fixed;
}


/* Review CSS*/
#reviews{
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/reviews.jpg');
	color: white;
	background-position: center;
}

#review1{
	background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url('../images/review1.png');
	background-position: center;
}

#review1:hover{
	background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../images/review1.png');
	background-position: center;
}

#review2{
	background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url('../images/review2.png');
	background-position: center;
}

#review2:hover{
	background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../images/review2.png');
	background-position: center;
}

#review3{
	background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url('../images/review3.png');
	background-position: center;
}

#review3:hover{
	background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../images/review3.png');
	background-position: center;
}

.fa-star, .fa-star-half-alt{
	color: yellow;

}

.media-img{
	width: 15rem;
	margin-right: 5rem;
}

.desktop-img{
	display: block;
	border: 2px solid white;
}

.mobile-img{
	display: none;
	border: 2px solid white;
}

/* Location CSS */
#location h1{
	font-family: 'Bebas Neue', cursive;
	font-size: 5rem;
}

iframe{
	width: 100vh;
	height: 50vh;
}

/* Conact CSS */
#contact{
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/contact.jpg');
	background-size: cover;
	color: white;
}

#contact h1{
	font-family: 'Bebas Neue', cursive;
	font-size: 5rem;
}
/* Footer CSS */
#footer{
	font-family: 'Bebas Neue', cursive;
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/footer-bg.jpg');
	background-position: center;
	color: white;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	
}

.hrstyle1{
	border-top: 1px black solid;
}

.footer-link{
	display: inline!important;

}

.footer-text{
	font-family: 'Bebas Neue', cursive;
	text-decoration: none;
	color: white;
}

.footer-link, .social-icons{
	text-decoration: none;
	color: white;
}

.footer-link:hover{
	text-decoration: none;
	color: #b7bfc2;
	text-decoration: underline;
}

.fa-instagram:hover{
	color: #ff41c7!important;
}
.fa-twitter-square:hover{
	color: #1dabdd!important;
}

.fa-facebook-square:hover{
	color: #1f50d6!important;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 577px) { 
	/*nav-css*/
	.mobile-pad{
		padding-left: 2rem;
	}

	nav{
		background-color: rgba(52, 52, 52, 0.9);
	}

	.nav-bg{
		border-radius: 0px; 
		background-color: rgba(52, 52, 52, 0);
	}

	/*landing css */
	.landing-content{
		top: 30%;
	}

	.landing-img{
		width: 13rem;

	}

	.landing-content h1{
		font-size: 4rem;
	}

	.media-img{
		display: block;
	}
	/*ales css*/
	.jumbotron div h1{
		font-size: 3rem;
	}

	.jumbotron div h5{
		font-size: 1.5rem;
	}

	/*amenities css*/

	/*review css*/
	.desktop-img{
		display: none;
	}

	.mobile-img{
		display: block;
	}

	iframe{
	width: 90%;
	height: 50%;
}

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 769px) { 
	/*find us css*/
	iframe{
	width: 90%;
	height: 50%;
}

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 993px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1201px) {
	/*landing css */
	.landing-content{
		top: 35%;
	}

	/*amenities css*/
	#music-info, #food-info, #games-info, #wifi-info, #comedy-info, #parking-info {
		display: inline-block;
	}
	/*find us css*/
	iframe{
	width: 90%;
	height: 50%;
}

}

/*
!--- Bootstrap screen response sizes ---!
.col- (extra small devices - screen width less than 576px)
.col-sm- (small devices - screen width equal to or greater than 576px)
.col-md- (medium devices - screen width equal to or greater than 768px)
.col-lg- (large devices - screen width equal to or greater than 992px)
.col-xl- (xlarge devices - screen width equal to or greater than 1200px)
*/