.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../img/logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Front Imports & Styling*/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

/* Fonts */
@font-face{font-family: uk; src: url('../fonts/UKNumberPlate.ttf');}
@font-face{font-family: usa; src: url('../fonts/usa.TTF');}
@font-face{font-family: jam; src: url('../fonts/Rastazm.ttf');}
@font-face{font-family: mic; src: url('../fonts/mic.TTF');}
@font-face{font-family: almost-japanese; src: url('../fonts/almost-japanese.ttf');}
@font-face{font-family: aw-siam; src: url('../fonts/AW_Siam.ttf');}

@font-face{font-family: finger-food; src: url('../fonts/Fingerfood.otf');}
@font-face{font-family: azn-food; src: url('../fonts/azn-food.ttf');}

	.uk{
		font-family: uk;
		color: black !important;
	}

	.usa{
		font-family: usa;
		color: black !important;
	}

	.jam{
		font-family: jam;
		color: black !important;
	}

	.chi{
		font-family: mic;	
		color: black !important;	
	}

	.jap{
		font-family: almost-japanese;
		color: black !important;
	}

	.tha{
		font-family: aw-siam;
		color: black !important;
	}

	.bebas{
		font-family: 'Bebas Neue', cursive;
	}

	.azn-food{
		font-family: 'azn-food', cursive;
		text-align: center;
	}

/* To Top BTN */
	.to-top-btn{
		position: fixed;
		bottom: 50px;
		right: 50px;
		z-index: 100;
	}

	#to-top-btn{
		color: #282923;
		background: #fff;
		border-radius: 25px;
		padding: 5px;
	}

/* Nav CSS */
	.navbar img{
		height: 4rem;
	}

	#nav{
		background:rgba(0, 0, 0, .3); /*#2c3e50;*/
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;

	}

	.navbar-nav .nav-item .nav-link{
		color: white;
		font-family: 'Bebas Neue', cursive;
		font-size: 1.5rem;
	}

	.navbar-nav .nav-item .nav-link:hover{
		color: #b1e8e6;
	}

/* Landing CSS */
	.landing-wrap{
		height: 100%;
		width: 100%;
		background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/landing.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.landing-wrap img{
		width: 100%;
		height: 100%;
		filter: brightness(50%);
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		clip: rect(0, auto, auto, 0);

	}

	.landing-wrap h1{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: white;
		font-family: 'Amatic SC', cursive;
		font-size: 8rem;
		text-shadow:1px 1px 5px black;
		min-width: 100%;
	}

	.landing-wrap h1 + h4{
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: white;
		font-family: 'Cairo', sans-serif;
		margin-top: 3rem;
		text-shadow:1px 1px 5px black;
		font-size: 2rem;
	}

/* About */
	.about-heading{
		font-family: 'Amatic SC', cursive;
		font-size: 6rem;
		letter-spacing: .7rem;
	}

	.about-sub{
		font-family: 'Cairo', sans-serif;
		font-size: 1.3rem;
	}

	.al-right{
		text-align: right;
	}

	.hide-lrg{
		display: none;
	}
	
	.container{
		position: relative;
	}

/* Cuisines */
	#cuisines{
		background: #b1e8e6;

		/*linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../img/world-map.png');
		background-position: center;
		color: white; */

	}

	.cuisines-heading{
		font-family: 'finger-food', cursive;
		font-size: 5rem;
		letter-spacing: .7rem;
		color: black;
	}

	.cuisines-sub{
		font-family: 'Cairo', sans-serif;
		font-size: 1rem;
	}

	.flag{
		width: 8rem;
	}

	hr.hrstyle{
		border-top: 1px solid black;
		width: 17%;
	}

	hr.hrstyle2{
		border-top: 1px solid black;
		width: 25%;
	}

	hr.hrstyle3{
		border-top: 1px solid black;
		width: 90%;
	}

	h2.uk {
	font-size: 2.5rem;
}

	h2.usa {
	font-size: 2.5rem;
}

	h2.jam {
	font-size: 2.5rem;
}

	h2.chi {
	font-size: 2.5rem;
}

	h2.jap {
	font-size: 2.5rem;
}

	h2.tha {
	font-size: 2.5rem;
}

	.translate{
		text-align: right;
		margin-top: -20px;
		font-family: 'Cairo', sans-serif;
	}

/* Quote/Parallax */

	.parallax{
		background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/parallax.jpg');

		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

	}

	.quote-wrap{
		padding: 5% 0;
	}

	.quote{
		color: white;
		margin: auto;
		width: 50%;
		  
	}

	hr.hrstyle4{
		border-top: 3px solid white;
		width: 100%;
	}


	h1.bebas{
		font-size: 3rem;
	}


/* Menu */

	#full-menu{
		background: url(../img/world-map.png);
		background-position: center;
	}

	ul li a.active{ 
		border-radius: 25px;
		background: rgba(0, 0, 0, .3) !important;
	}

	.menu-heading{
		font-family: 'Amatic SC', cursive;
		font-size: 6rem;
		letter-spacing: 1rem;
	}

	.menu-btn{
		border: 1px solid black;
	}

	.menu-btn:hover{
		background-image: url(../img/world-map.png);
	}

	.menu-btn-active{
		background-image: url(../img/world-map.png);
	}

	.price{
		float: right;
		text-align: right;
	}

	.menu-icon{
		display: inline-block !important;
	}

	.menu-btn{
		font-family: 'Cairo', sans-serif !important;
	}

	hr.hrstyle3{
		border-top: 1px solid black;
		width: 50%;
	}

/* loction */
	.location-heading{
		font-family: 'Amatic SC', cursive;
		font-size: 5rem;
	}

	.btn-submit{
		border: 1px solid #858d93;
	}

	.btn-submit:hover{
		background: #2c3e50;
		border: 1px solid #858d93;
		color: white;
	}

/* Footer */	
	#footer{
		background: #2c3e50;
		color: white;
		font-family: 'Cairo', sans-serif;
	}

	hr.hrstyle6{
		border-top: 1px solid white;
		width: 80%;
	}

	.social-icons{
		color: white;
		margin-right: 1rem;
	}

	a.social-icons:hover, a.footer-link:hover{
		color: #b1e8e6;
	}

	a.footer-link{
		display: block;
		text-decoration: none;
		color: white;
	}



/* CUSTOM QUERY FOR 2 COLUMN IMAGES THAT BLUR ON SOME SIZE LG DEVICES */
@media (min-width: 992px) and (max-width: 1500px) { 
	.blur-fix{
			min-width: 100%;
	}
} 

/* Extra large devices (large desktops, 1200px and DOWN)*/
@media (max-width: 1200px) { 

} 

/* Large devices (desktops, 992px and DOWN) */
@media (max-width: 991px) {

		.landing-wrap img + h1{
			font-size: 5rem;
	}

		.landing-wrap img + h1 + h4{
			margin-top: .6rem;
			font-size: 1.5rem;
	}

}

/* Medium devices (tablets, 768px and DOWN) */
@media (max-width: 767px) {

		.landing-wrap img + h1{
			font-size: 4rem;
	}

		.landing-wrap img + h1 + h4{
			margin-top: -0.5rem;
			font-size: 1rem;
	}

		.cuisines-heading, .cuisines-sub, hr.hrstyle{
			text-align: center !important;
			margin: 0 auto;
	}

}

/* Small devices (landscape phones, 576px and DOWN) */
@media (max-width: 575px) { 

	html, body{
		overflow-x: hidden;
	}

	.navbar{
		background: #212529;
	}

	.landing-wrap h1{
		font-size: 3rem;
	}

	.landing-wrap h1 + h4{
		font-size: 1.5rem;
	}

	#about{
		padding-top: 20%;
	}

	h3.bebas{
		padding-top: 1.3rem;
	}

	.landing-wrap img + h1{
			font-size: 3rem;
	} 

	h2.about-heading{
			font-size: 4rem;
			margin-top: -4rem;
	}

	.navbar img{
		height: 3.5rem;
	}

	.about-heading{
		display: none;
	}

	.cuisines-heading{
		font-size: 4rem;
		letter-spacing: .7rem;
		color: black;
		text-align: center;
	}

	.col1, .col3{
		display: none;
	}
}

@media (max-width: 475px) { 

	.navbar img{
		height: 2.5rem;
	}

	#about h2{
		padding: 5rem 0;

	}

	.about-heading{
		font-size: 6rem;
		letter-spacing: .4rem;
	}

	.custom-min{
		min-width: 100%;
	}

	.abt-cap{
		display: none;
	}

	.hide-xxs{
		display: none;
	}

	.hide-lrg{
		display: block;
	}

	.cuisines-heading{
		font-size: 3rem;
	}

	.menu-heading{
		font-size: 4rem;
	}

}




/* Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) { ... } 